.feedback {
  position: relative;
  padding-top: 72px;
  padding-bottom: 112px;

  .title {
    margin-bottom: 32px;
    text-align: center;
  }

  &__container {
    position: relative;
    z-index: 1;
    color: #FFFFFF;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), #5101A6 no-repeat;
    background-size: cover;
  }

  &__description {
    max-width: 576px;
    text-align: center;
    margin: 0 auto 48px;
    font-size: 20px;
    line-height: 28px;
  }

  &__form {
    display: flex;
    justify-content: space-between;

    div {
      position: relative;
    }

    label {
      position: absolute;
      left: 10px;
      top: -15px;
      font-size: 12px;
      font-weight: 400;
      line-height: 32px;
      opacity: 0;
      pointer-events: none;
      padding-right: 15px;
      padding-left: 15px;
    }


    input {
      padding: 24px;
      border: 1px solid #FFFFFF;
      border-radius: 6px;
      background: transparent;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      color: #FFFFFF;
      transition: border-color .3s ease-in-out;

      &::placeholder {
        color: #FFFFFF;
      }

      &:focus + label,
      &:not(:placeholder-shown) + label {
        opacity: 1;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), #5101A6;
      }

      &:not(:placeholder-shown),
      &:focus {
        outline: none;
        border-color: #BB6BD9;
        color: #BB6BD9;

        &::placeholder {
          display: none;
        }
      }
    }

    .btn {
      width: 235px;
    }
  }
}
