.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  padding-top: 40px;
  z-index: 1;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
